# Choose Model Backend: 1 -> Vertex AI
GOOGLE_GENAI_USE_VERTEXAI=1
GOOGLE_CLOUD_PROJECT=""
GOOGLE_CLOUD_LOCATION="us-central1"

# Gemini Config
GEMINI_MODEL_NAME="gemini-2.5-flash"
GEMINI_MODEL_TEMPERATURE=0.1

# 1. Used by deploy.py to upload the .whl file to Vertex AI
GOOGLE_CLOUD_STORAGE_BUCKET="ai-ml-adk-staging"

# 2. Used by the Agent to find the uploaded text files
CONTRACT_BUCKET_NAME="aiml-bucket-contracts"

RULEBOOK_BUCKET_NAME="aiml-bucket-rulebook"

# 3. Used by gradio_app.py to connect to the deployed agent
AGENT_RESOURCE_ID=""
